{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-CONNEXION{% endblock %}

{% block body %}

<div class="container signin-container">
    <div class="row">
        <div class="col-xs-offset-3 col-md-offset-4 col-xs-6 col col-md-4">
            <div class="card card-login">
                <h3 class="text-center login-text">Connectez vous à votre espace Admin </h3>
                <hr />
                <img id="profile-img" class="profile-img-card"
                    src="{{ asset("frontend/images/avatarvert.jpg") }}" />
                <p id="profile-name" class="profile-name-card"></p>
                <form method="POST" id="signinForm">
                    {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a
                            href="{{ path('administrators_logout') }}">Logout</a>
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" name="email" value="{{ last_username }}" id="email" class="form-control"
                                placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Mot de passe" autocomplete="">
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group text-center">
                        <button type="submit" class="btn btnSignin form-control" type="submit">Se connecter
                        </button>
                    </div>
                    <div class="col-xs-offset-7 col-md-offset-7 col-xs-5 col-md-5">
                        <!-- <a href="?p=Demandeur.Inscriptionp" id="login" class=""
                            style="color:#ffffff; text-align:right ;">
                            Se connecter
                        </a> -->
                        <a href="signup.html" id="id_inscription" class="inscription"
                            style="color:#ffffff; text-align:right ;">
                            S'inscrire
                        </a>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
