{% extends "admin_template.html.twig" %}

{% block title %}{{ parent() }}-DASHBOARD{% endblock %}
{% block head %}

{% block stylesheets %}

{% endblock %}
{% endblock %}
{% block body %}
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">Dashboard</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Accueil</a></li>
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="container-fluid">
	<!-- Small boxes (Stat box) -->
	<div class="row">
	
		<div class="col-lg-4 col-6">
			<!-- small box -->
			<a href="{{path('agents')}}" >
			<div class="small-box bg-info">
				<div class="inner">
					<h3>{{agents|length}}</h3>

					<p>Agents</p>
				</div>
				<div class="icon">
					<i class="ion ion-bag"></i>
				</div>
			</div>
		</a>

		</div>
		<!-- ./col -->
		<div class="col-lg-4 col-6">
			<!-- small box -->
				<a href="{{path('departments')}}" >
			<div class="small-box bg-success">
				<div class="inner">
					<h3>{{departments|length}}</h3>

					<p>Départements</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
			</div>
			</a>
		</div>
		<!-- ./col -->
		<div class="col-lg-4 col-6 ">
			<!-- small box -->
				<a href="{{path('departments')}}" >
			<div class="small-box bg-warning">
				<div class="inner">
					<h3>{{services|length}}</h3>

					<p>Services</p>
				</div>
				<div class="icon">
					<i class="ion ion-person-add"></i>
				</div>
			</div>
			</a>
	</div>
	<!-- /.row -->
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><img class="center-block img-fluid" src="{{asset('imgs/bar2.png')}}" /></div>
    <div class="col-4"></div>
  </div>

<!-- /.row (main row) -->
</div><!-- /.container-fluid -->

{% endblock %}

