{% extends "admin_template.html.twig" %}

{% block title %}{{ parent() }}-DASHBOARD{% endblock %}
{% block head %}

{% block stylesheets %}

{% endblock %}
{% endblock %}
{% block body %}
<!-- Content Header (Page header) -->
<div class="content-header">

	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">Dashboard</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Accueil</a></li>
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="container-fluid">

	<!-- Small boxes (Stat box) -->
	<div class="row">
	
		<div class="col-lg-4 col-6">
			<!-- small box -->
			<a href="{{path('members')}}" >
			<div class="small-box bg-info">
				<div class="inner">
					<h3>{{members|length}}</h3>

					<p>Membres</p>
				</div>
				<div class="icon">
					<i class="ion ion-bag"></i>
				</div>
			</div>
		</a>

		</div>
		<!-- ./col -->
		<div class="col-lg-4 col-6">
			<!-- small box -->
				<a href="{{path('sessions')}}" >
			<div class="small-box bg-success">
				<div class="inner">
					<h3>{{sessions|length}}</h3>

					<p>Sessions</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
			</div>
			</a>
		</div>
		<!-- ./col -->
</div>
<!-- /.row (main row) -->
</div><!-- /.container-fluid -->

{% endblock %}

