{% extends "admin_template.html.twig" %}
{% block title %}{{ parent() }}-TELEPHONIQUE{% endblock %}
{% block head %}
{% block stylesheets %}
 <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>

{% endblock %}
{% endblock %}
{% block body %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Membres</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<div class="container-fluid">
    <div class="box-header">
        <h3 class="box-title">
            <div class="btn-group">
                <button type="button" class="btn btn-block btn-success add_btn"><i
                        class="glyphicon glyphicon-save"></i>
                    Créer</button>
            </div>
        </h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-info">
                <div class="">
                    <div class="card-header">
                        <h3 class="card-title">Liste des membres</h3>
                    </div>

                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Date de naissance</th>
                                <th>Sessions</th>
                                <th>Postes</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="table-content">
                            {% for member in  members %}
                            <tr id="tr-{{member.id}}">
                                <td>{{ loop.index }}</td>
                                <td>{{ member.firstname }}</td>
                                <td>{{ member.lastname }}</td>
                                <td>{{ member.birthDay }}</td>
                                <td>
                                 {% for post in member.posts %}
                                  <p>{{post.name}}</p>
                                 {% endfor %}
                                </td>
                                <td>
                                  {% for session in member.sessions %}
                                  <p>{{session.name}}</p>
                                 {% endfor %}
                                </td>
                                <td>
                                    <a type="submit" id="btn-modify-{{member.id}}"
                                        class="btn btn-success btn-sm">Modifier <i class="fa fa-edit"></i></a>
                                     <a type="submit" id="delete-{{member.id}}" class="btn btn-danger btn-sm"  data-toggle="modal"
                                        data-target="#modal-danger">Supprimer 
                                        <i class="fa fa-trash"></i></a>

                                </td>
                            </tr>
                              <div class="modal fade" id="modal_delete_{{member.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-uppercase" style="color:#ffff;" >{{member.firstName}} {{member.lastName}}</h5>
                                            <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </a>
                                        </div>
                                        <div class="modal-body">
                                            <p>Voulez-vous vraiment supprimer {{member.firstName}} {{member.lastName}}? Toutes les données liées à ce member seront définitivement supprimées!</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-secondary" data-dismiss="modal" style="color:#fff;">Annuler</a>
                                            <a id="btn-delete-{{member.id}}" class="btn btn-danger" style="color:#fff;">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="modal_edit_{{member.id}}" class="modal fade" id="form" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header border-bottom-0">
                                            <h5 class="modal-title text-center" id="exampleModalLabel">Modifier un membre</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        
                                        <div class="modal-body">
                                        <form id="edit_form_{{member.id}}">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="form-group">
                                                        <label for="firstname">Nom</label>
                                                        <input type="text" name="firstName" class="form-control" value="{{member.firstName}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="form-group">
                                                        <label for="lastname">Prénom</label>
                                                        <input type="text" name="lastName" class="form-control" value="{{member.lastName}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="birthDay">Date de naissance</label>
                                                     <input type="date" name="birthDay" class="form-control" value="{{member.birthDay}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="form-group">
                                                        <label for="session">Session</label>
                                                         <select class="form-control" id="session" name="session">
                                                            {% for session in sessions %}
                                                              {% for memberS in session.members %}
                                                            {% if member.id == memberS.id %}
                                                             <option value="{{session.id}}" selected>{{session.name}}</option>
                                                             {% else %}
                                                             <option value="{{session.id}}" >{{session.name}}</option>
                                                               {% endif %}
                                                             
                                                         {% endfor %}
                                                         {% endfor %}
                                                         </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="form-group">
                                                        <label for="post">Poste</label>
                                                          <select class="form-control" id="post" name="post">
                                                            {% for post in posts %}
                                                              {% for memberP in post.members %}
                                                            {% if member.id == memberP.id %}
                                                             <option value="{{post.id}}" selected>{{post.name}}</option>
                                                             {% else %}
                                                             <option value="{{post.id}}" >{{post.name}}</option>
                                                               {% endif %}
                                                             
                                                         {% endfor %}
                                                         {% endfor %}
                                                         </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="member" value="{{member.id}}">
                                         </form>
                                        </div>
                                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <button type="submit" id="edit-btn-{{member.id}}" class="btn btn-warning">Modifier</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>
<!-- /.col-->
   <div id="modal_add" class="modal fade" id="form" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title text-center" id="exampleModalLabel">Ajouter un membre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(form, {attr:{'id':'add_form' }})
            }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="firstName">Nom</label>
                            {{ form_row(form.firstName, {attr:{'class':'form-control','placeholder':'Nom' }})
                            }}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="lastName">Prénom</label>
                            {{ form_row(form.lastName, {attr:{'class':'form-control','placeholder':'Prénom' }})
                            }}
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="birthDay">Date de naissance</label>
                             {{ form_row(form.birthDay)
                            }}
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="session">Session</label>
                            {{ form_row(form.session, {attr:{'class':'form-control','placeholder':'Session' }})
                            }}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="post">Poste</label>
                            {{ form_row(form.post, {attr:{'class':'form-control','placeholder':'Poste' }})
                            }}
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="birthDay">Date de naissance</label>
                             {{ form_row(form.photoFile)
                            }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success register">Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src=" {{ asset("js/validate.js") }}"></script>
<script src="{{ asset("js/sweetAlert.js") }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script>
 $('#member_birthDay').datepicker({
            format: 'dd-mm-yyyy'
});
    $.validator.setDefaults({
		errorClass: 'help-block',
		errorPlacement: function (error, element) {
			error.addClass("label");
			error.css("background", "red", );
			error.insertAfter(element.parent());
		},
		highlight: function (element, errorClass, validClass) {
			$(element).parents(".row").addClass(errorClass);
		},
		unhighlight: function (element, errorClass, validClass) {
			$(element).parent().next().remove();

		}
	});

    $.validator.setDefaults({
        debug: true,
        success: "valid"
    });


    $('.add_btn').click(function () {
        $('#modal_add').modal('show');
    })

    function modifyFunction(){
    $( "[id^='btn-modify']" ).click(function(){
        var str = $(this).attr("id");
        var subStr = str.substr(11, 12);
        $('#modal_edit_'+subStr).modal('show');
    })
    }


    function deleteFunction(){
    $( "[id^='delete-']" ).click(function(){
        var str = $(this).attr("id");
        var subStr = str.substr(7, 8);
       $('#modal_delete_'+subStr).modal('show');
    })
    }
    
    $.validator.setDefaults({
        debug: true,
        success: "valid"
    });


    var form = $('#add_form');

    form.validate({
        rules: {
            'firstName': {
                required: false
            },
            'lastName': {
                required: false
            },
            'post': {
                required: true,
                number: true,
            },
          
            'session': {
                required: true,
            }

        },
        messages: {
            'firstName': {
                required: 'Nom obligatoire'
            },
            'lastName': {
                required: 'Prénom obligatoire'
            },
            'post': {
                required: 'Poste obligatoire',
            },
             'session': {
                required: 'Session obligatoire',
            },

        }
    });
    function addElement(){
    $('.register').click(function (e) {
        e.preventDefault();
        console.log($('#add_form').valid());
        if ($('#add_form').valid()) {
            $.ajax({
                url: '{{ path("members") }}',
                method: 'POST',
                data: $('#add_form').serialize(),
                success: function (response) {
                    if (response.member) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top',
                            showConfirmButton: false,
                            timer: 5000,
                            width: 300,
                            timerProgressBar: true,
                            onOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            },

                        })

                         Toast.fire({
                            icon: 'success',
                            title: 'Membre ajouté avec succès'
                        });
                        $("#example1 tbody").
                        html(response.row);
                        
                        deleteFunction();
                        updateElement();
                        removeElement();
                        modifyFunction();
                        $('#add_form').trigger('reset');

                    }
                }
            })
        }
    })
    }

    function updateElement(){
    $("[id^=edit-btn]").click(function(){
        var str = $(this).attr("id");
        var id = str.substr(9, 10);
       
          if ($('#edit_form_'+id).valid()) {
            $.ajax({
                url: '{{ path("members") }}',
                method: 'POST',
                data: $('#edit_form_'+id).serialize(),
                success: function (response) {
                    if (response.member) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top',
                            showConfirmButton: false,
                            timer: 5000,
                            width: 300,
                            timerProgressBar: true,
                            onOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            },

                        })

                         Toast.fire({
                            icon: 'success',
                            title: 'Membre modifié avec succès'
                        });
                       $("#example1 tbody").
                        html(response.row);

                            deleteFunction();
                            addElement();
                            removeElement();
                            modifyFunction();

                    }
                }
            })
        }
    })
    }

    function removeElement(){
    $("[id^=btn-delete-]").click(function(){
        var str = $(this).attr("id");
        var subStr = str.substr(11, 12);
         
            $.ajax({
                url: '{{ path("member_remove") }}',
                method: 'POST',
                data: {'member': subStr},
                success: function (response) {
                    if (response.member) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top',
                            showConfirmButton: false,
                            timer: 5000,
                            width: 300,
                            timerProgressBar: true,
                            onOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            },

                        })

                         Toast.fire({
                            icon: 'success',
                            title: 'Membre supprimé avec succès'
                        });
                        
                         $('#tr-'+response.member).remove();
                    }
                }
            })
    })
    }


    function group(){
    deleteFunction();
    addElement();
    updateElement();
    removeElement();
    modifyFunction();
    }

    group();

    
</script>
{% endblock %}